nav{
    background-color:#4285F4;
    color:whitesmoke !important;
}
.nav-link{
    font-weight:bolder;
    color:whitesmoke !important;
}
/* .login{
    color:#4285F4 !important;
    background-color: whitesmoke;
    border-radius: 5px;
} */
.navbar-nav li{
    margin-left: 15px;
    padding: 0 20px
}

.navbar-brand{
    margin-left:70px;
}
.cartIcon{
    width: 100px !important;
}
.cartLength{
   background-color: red !important;
   color:white;
   padding: 7px 5px;
   border-radius: 50%;
}