.loginBtn{
    /* background-color: tomato; */
    border-radius: 50px;
    border:none;
}
.socialBtn{
    background-color: #0056B3;
    height: 60px;
    width: 60px;
    margin: 0 10px;
    border-radius: 50% !important;
    border:none;
}
.loginCard{
    width: 30rem;
    border-radius: 20px;
    border:none;
}